{% load static %}
<div class="banner">

  <div class="container">
    <div class="slider-item">

      <img src="{% static "assets/images/banner-2.jpg" %}" alt="women's latest fashion sale" class="banner-img" >

      <div class="banner-content">

        <p class="banner-subtitle" >Trending items</p>

        <h2 class="banner-title">Season's latest fashion sale</h2>

        <p class="banner-text" >
          starting at &#8377; <b>499</b>
        </p>

        <a href="{% url 'search' %}" class="banner-btn">Shop now</a>

      </div>

    </div>

  </div>

</div>