{% load static %}
<div class="category">

  <div class="container">

    <div class="category-item-container has-scrollbar">
      {% for category in categories %}
      <div class="category-item">

        <div class="category-img-box">
          <img src="{{category.cat_image.url}}" alt="dress & frock" width="30">
        </div>

        <div class="category-content-box">

          <div class="category-content-flex">
            <h3 class="category-item-title">{{category.category_name}}</h3>

            <p class="category-item-amount">{{category.product_count}}</p>
          </div>

          <a href="{% url 'products' category.slug %}" class="category-btn">Show all</a>

        </div>
      </div>
      {% endfor %}

    </div>

  </div>

</div>