{% load static %}
{% load store_filters %}
<div class="product-container">

  <div class="container">


    <!--
      - SIDEBAR
    -->

    <div class="sidebar  has-scrollbar" data-mobile-menu>

      <div class="sidebar-category">

        <div class="sidebar-top">
          <h2 class="sidebar-title">Category</h2>

          <button class="sidebar-close-btn" data-mobile-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>

        <ul class="sidebar-menu-category-list">

          {% for category in categories %}
          <li class="sidebar-menu-category">

            <button class="sidebar-accordion-menu" data-accordion-btn>

              <div class="menu-title-flex">
                <img src="{{category.cat_image.url}}" alt="clothes" width="20" height="20"
                  class="menu-title-img">

                <p class="menu-title">{{category.category_name}}</p>
              </div>

              <div>
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
              </div>

            </button>

            <ul class="sidebar-submenu-category-list" data-accordion>

              {% for subcategory in category.subcategories %}
                <li class="sidebar-submenu-category">
                  <a href="{% url 'products' subcategory.slug %}" class="sidebar-submenu-title">
                    <p class="product-name">{{subcategory.name}}</p>
                  </a>
                </li>
              {% endfor %}

            </ul>

          </li>
          {% endfor %}

        </ul>

      </div>

      <div class="product-showcase">

        <h3 class="showcase-heading">Top Picks for You</h3>

        <div class="showcase-wrapper">

          <div class="showcase-container">

            {% for product in deals_of_the_day %}
              <div class="showcase">

                <a href="{% url 'product_details' product.slug %}" class="showcase-img-box">
                  <img src="{{product.images.url}}" alt="{{product.name}}" width="75" height="75"
                    class="showcase-img">
                </a>

                <div class="showcase-content">

                  <a href="{% url 'product_details' product.slug %}">
                    <h4 class="showcase-title">{{product.name}}</h4>
                  </a>

                  <div class = "showcase-rating">
                    <span class="review-stars">
                      <i class="fa-star{% if product.avg_rating == 0.5 %}-half-alt fas{% elif product.avg_rating < 1 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if product.avg_rating == 1.5 %}-half-alt fas{% elif product.avg_rating < 2 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if product.avg_rating == 2.5 %}-half-alt fas{% elif product.avg_rating < 3 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if product.avg_rating == 3.5 %}-half-alt fas{% elif product.avg_rating < 4 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if product.avg_rating == 4.5 %}-half-alt fas{% elif product.avg_rating < 5 %} far {% else %} fas {% endif %}  " aria-hidden="true"></i>
                    </span>
                      <span>&nbsp;({{product.review_count}})</span> 
                  </div>

                  <div class="price-box">
                    <del>&#8377; {{product.price | add:50}}</del>
                    <p class="price">&#8377; {{product.price}}</p>
                  </div>

                </div>

              </div>
            {% endfor %}

          </div>

        </div>

      </div>

    </div>



    <div class="product-box">

      <!--
        - PRODUCT MINIMAL
      -->

      <div class="product-minimal">

        <div class="product-showcase">

          <h2 class="title">New Arrivals</h2>

          <div class="showcase-wrapper  has-scrollbar">

            <div class="showcase-container">

              {% for product in new_arrivals %}

                {% if forloop.counter <= 4 %}
                  <div class="showcase">

                    <a href="{% url 'product_details' product.slug %}" class="showcase-img-box">
                      <img src="{{product.images.url}}" alt="pocket watch leather pouch" class="showcase-img"
                        width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="{% url 'product_details' product.slug %}">
                        <h4 class="showcase-title">{{product.name}}</h4>
                      </a>

                      <a href="{% url 'products' product.sub_category.slug%}" class="showcase-category">{{product.sub_category}}</a>

                      <div class="price-box">
                        <p class="price">&#8377;{{product.price}}</p>
                        <del>&#8377;{{product.price | add:100}}</del>
                      </div>

                    </div>

                  </div>
                {% endif %}

              {% endfor %}

            </div>

            <div class="showcase-container">

              {% for product in new_arrivals %}

                {% if forloop.counter > 4 %}
                  <div class="showcase">

                    <a href="{% url 'product_details' product.slug %}" class="showcase-img-box">
                      <img src="{{product.images.url}}" alt="pocket watch leather pouch" class="showcase-img"
                        width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="{% url 'product_details' product.slug %}">
                        <h4 class="showcase-title">{{product.name}}</h4>
                      </a>

                      <a href="{% url 'products' product.sub_category.slug%}" class="showcase-category">{{product.sub_category}}</a>

                      <div class="price-box">
                        <p class="price">&#8377;{{product.price}}</p>
                        <del>&#8377;{{product.price | add:100}}</del>
                      </div>

                    </div>

                  </div>
                {% endif %}

              {% endfor %}


            </div>

          </div>

        </div>

        <div class="product-showcase">

          <h2 class="title">Trending</h2>

          <div class="showcase-wrapper  has-scrollbar">

            <div class="showcase-container">

              {% for product in trending_products %}

                {% if forloop.counter <= 4 %}
                  <div class="showcase">

                    <a href="{% url 'product_details' product.slug %}" class="showcase-img-box">
                      <img src="{{product.images.url}}" alt="pocket watch leather pouch" class="showcase-img"
                        width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="{% url 'product_details' product.slug %}">
                        <h4 class="showcase-title">{{product.name}}</h4>
                      </a>

                      <a href="{% url 'products' product.sub_category.slug%}" class="showcase-category">{{product.sub_category}}</a>

                      <div class="price-box">
                        <p class="price">&#8377;{{product.price}}</p>
                        <del>&#8377;{{product.price | add:100}}</del>
                      </div>

                    </div>

                  </div>
                {% endif %}

              {% endfor %}

            </div>

            <div class="showcase-container">

              {% for product in trending_products %}

                {% if forloop.counter > 4 %}
                  <div class="showcase">

                    <a href="{% url 'product_details' product.slug %}" class="showcase-img-box">
                      <img src="{{product.images.url}}" alt="pocket watch leather pouch" class="showcase-img"
                        width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="{% url 'product_details' product.slug %}">
                        <h4 class="showcase-title">{{product.name}}</h4>
                      </a>

                      <a href="{% url 'products' product.sub_category.slug%}" class="showcase-category">{{product.sub_category}}</a>

                      <div class="price-box">
                        <p class="price">&#8377;{{product.price}}</p>
                        <del>&#8377;{{product.price | add:100}}</del>
                      </div>

                    </div>

                  </div>
                {% endif %}

              {% endfor %}


            </div>

          </div>

        </div>

        <div class="product-showcase">

          <h2 class="title">Top Rated</h2>

          <div class="showcase-wrapper  has-scrollbar">

            <div class="showcase-container">

              {% for product in top_rated_products %}

                {% if forloop.counter <= 4 %}
                  <div class="showcase">

                    <a href="{% url 'product_details' product.slug %}" class="showcase-img-box">
                      <img src="{{product.images.url}}" alt="pocket watch leather pouch" class="showcase-img"
                        width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="{% url 'product_details' product.slug %}">
                        <h4 class="showcase-title">{{product.name}}</h4>
                      </a>

                      <a href="{% url 'products' product.sub_category.slug%}" class="showcase-category">{{product.sub_category}}</a>

                      <div class="price-box">
                        <p class="price">&#8377;{{product.price}}</p>
                        <del>&#8377;{{product.price | add:100}}</del>
                      </div>

                    </div>

                  </div>
                {% endif %}

              {% endfor %}

            </div>

            <div class="showcase-container">

              {% for product in top_rated_products %}

                {% if forloop.counter > 4 %}
                  <div class="showcase">

                    <a href="{% url 'product_details' product.slug %}" class="showcase-img-box">
                      <img src="{{product.images.url}}" alt="pocket watch leather pouch" class="showcase-img"
                        width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="{% url 'product_details' product.slug %}">
                        <h4 class="showcase-title">{{product.name}}</h4>
                      </a>

                      <a href="{% url 'products' product.sub_category.slug%}" class="showcase-category">{{product.sub_category}}</a>

                      <div class="price-box">
                        <p class="price">&#8377;{{product.price}}</p>
                        <del>&#8377;{{product.price | add:100}}</del>
                      </div>

                    </div>

                  </div>
                {% endif %}

              {% endfor %}


            </div>

          </div>

        </div>

      </div>



      <!--
        - PRODUCT FEATURED
      -->

      <div class="product-featured">

        <h2 class="title">Deal of the day</h2>

        <div class="showcase-wrapper has-scrollbar">

          {% for product in deals_of_the_day %}
            <div class="showcase-container">

              <div class="showcase">

                <div class="showcase-banner">
                  <a href="{% url 'product_details' product.slug %}">
                  <img src="{{product.images.url}}" alt="{{product.name}}" class="showcase-img">
                  </a>
                </div>

                <div class="showcase-content">

                  <div class = "showcase-rating">
                    <span class="review-stars">
                      <i class="fa-star{% if product.avg_rating == 0.5 %}-half-alt fas{% elif product.avg_rating < 1 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if product.avg_rating == 1.5 %}-half-alt fas{% elif product.avg_rating < 2 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if product.avg_rating == 2.5 %}-half-alt fas{% elif product.avg_rating < 3 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if product.avg_rating == 3.5 %}-half-alt fas{% elif product.avg_rating < 4 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if product.avg_rating == 4.5 %}-half-alt fas{% elif product.avg_rating < 5 %} far {% else %} fas {% endif %}  " aria-hidden="true"></i>
                    </span>
                      <span>&nbsp;({{product.review_count}})</span> 
                  </div>

                  <a href="{% url 'product_details' product.slug %}">
                    <h3 class="showcase-title">{{product.name}}</h3>
                  </a>

                  <p class="showcase-desc">
                    {{product.description}}
                  </p>

                  <div class="price-box">
                    <p class="price">&#8377; {{product.price | calc_percentage:10}}</p>

                    <del>&#8377; {{ product.price }}</del>
                  </div>

                  <button class="add-cart-btn"><a href="{% url 'add_cart' product.id %}" style="color:white;">add to cart</a></button>

                  <div class="showcase-status">
                    <div class="wrapper">
                      <p>
                        already sold: <b>20</b> 
                      </p>

                      <p>
                        available: <b>{{product.stock}}</b>
                      </p>
                    </div>

                    <div class="showcase-status-bar w-{{product.stock | get_percentage:300 | div:100 }}" ></div>
                  </div>

                  <div class="countdown-box">

                    <p class="countdown-desc">
                      Hurry Up! Offer ends in:
                    </p>

                    <div class="countdown">

                      <div class="countdown-content">

                        <p class="display-number cd_day" >3</p>

                        <p class="display-text">Days</p>

                      </div>

                      <div class="countdown-content">
                        <p class="display-number cd_hour" >24</p>
                        <p class="display-text">Hours</p>
                      </div>

                      <div class="countdown-content">
                        <p class="display-number cd_min" >59</p>
                        <p class="display-text">Min</p>
                      </div>

                      <div class="countdown-content">
                        <p class="display-number cd_sec">00</p>
                        <p class="display-text">Sec</p>
                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>
          {% endfor %}

        </div>

      </div>



      <!--
        - PRODUCT GRID
      -->

      <div class="product-main">

        <h2 class="title">New Products</h2>

        <div class="product-grid">

          {% for product in new_products %}

            <div class="showcase">

              <div class="showcase-banner">

                <img src="{{ product.images.url }}" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
                <a href="{% url 'product_details' product.slug %}">
                <img src="{{ product.images.url }}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">
                </a>

                <p class="showcase-badge">15%</p>

                {% comment %} <div class="showcase-actions">

                  <button class="btn-action">
                    <a href="{% url 'wishlist' product.id %}">
                    <ion-icon name="heart-outline"></ion-icon>
                    </a>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <ion-icon name="repeat-outline"></ion-icon>
                  </button>

                  <button class="btn-action">
                    <a href="{% url 'add_cart' product.id %}"><ion-icon name="bag-add-outline"></ion-icon></a>
                  </button>

                </div> {% endcomment %}

              </div>

              <div class="showcase-content">

                <a href="{% url 'product_details' product.slug %}" class="showcase-category">{{product.sub_category.name}}</a>

                <a href="{% url 'product_details' product.slug %}">
                  <h3 class="showcase-title">{{product.name}}</h3>
                </a>

                <div class = "showcase-rating">
                  <span class="review-stars">
                    <i class="fa-star{% if product.avg_rating == 0.5 %}-half-alt fas{% elif product.avg_rating < 1 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                    <i class="fa-star{% if product.avg_rating == 1.5 %}-half-alt fas{% elif product.avg_rating < 2 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                    <i class="fa-star{% if product.avg_rating == 2.5 %}-half-alt fas{% elif product.avg_rating < 3 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                    <i class="fa-star{% if product.avg_rating == 3.5 %}-half-alt fas{% elif product.avg_rating < 4 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                    <i class="fa-star{% if product.avg_rating == 4.5 %}-half-alt fas{% elif product.avg_rating < 5 %} far {% else %} fas {% endif %}  " aria-hidden="true"></i>
                  </span>
                    <span>&nbsp;({{product.review_count}})</span> 
                </div>

                <div class="price-box">
                  <p class="price">&#8377; {{product.price | calc_percentage:10 }}</p>
                  <del>&#8377; {{product.price}}</del>
                </div>

              </div>

            </div>

          {% endfor %}

        </div>

      </div>

    </div>

  </div>

</div>