{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'assets/css/accounts/dashboard.css' %}">
{% endblock %}

{% block content %}
  <div class="docontainer">
    {% include 'includes/dashboard_sidebar.html' %}
    <div class="dcontainer">
      <div class="dcontent">
          <div class="dcontent-2">
              <div class="recent-payments">
                  <div class="title">
                      <h2>Update Profile</h2>
                  </div>
                  
                  <div class="password-container">
                    <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data"> 
                      {% csrf_token %}
                      <div class="form-control">
                        <label>Old Password</label>
                        <input type="password" name="old_password" required>
                      </div>
                      <div class="form-control">
                        <label> New Password </label>
                        <input type="password"  name="new_password" required>
                      </div>
                      <div class="form-control">
                        <label> Confirm Password </label>
                        <input type="password" name="confirm_password" required>
                      </div>
                      
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}