{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'assets/css/accounts/dashboard.css' %}">
{% endblock %}

{% block content %}
  <div class="docontainer">
    {% include 'includes/dashboard_sidebar.html' %}
    <div class="dcontainer">
      <div class="dcontent">
          <div class="dcards">
              <div class="dcard">
                  <div class="box">
                    <a href="{% url 'my_orders' %}">
                      <h1>{{paid_orders_count}}</h1>
                      <h3>Paid Orders</h3>
                    </a>
                  </div>
                  <div class="icon-case">
                      <img src="students.png" alt="">
                  </div>
              </div>
              <div class="dcard">
                  <div class="box">
                      <h1>{{payments_count}}</h1>
                      <h3>Payments</h3>
                  </div>
                  <div class="icon-case">
                      <img src="teachers.png" alt="">
                  </div>
              </div>
              <div class="dcard">
                  <div class="box">
                      <h1>{{pending_orders_count}}</h1>
                      <h3>Pending Orders</h3>
                  </div>
                  <div class="icon-case">
                      <img src="schools.png" alt="">
                  </div>
              </div>
              <div class="dcard last-dcard">
                  <div class="box">
                      <a href="{% url 'update_profile' %}">
                        {% if user_profile %}
                          <img src="{{user_profile.profile_picture.url}}" alt="user profile picture" />
                        {% else %}
                          <img src="{% static 'assets/images/user.png' %}" alt="user profile picture" />
                        {% endif %}
                        <h3>{{request.user.email}}</h3>
                      </a>
                  </div>
                  <div class="icon-case">
                      <img src="income.png" alt="">
                  </div>
              </div>
          </div>
          <div class="dcontent-2">
              <div class="recent-payments">
                  <div class="title">
                      <h2>Recent Orders</h2>
                      <a href="{% url 'my_payments' %}" class="dbtn">View All</a>
                  </div>
                  <table>
                      <tr>
                          <th>OrderID</th>
                          <th>PaymentID</th>
                          <th>Amount</th>
                          <th>Tax</th>
                          <th>Phone</th>
                          <th>Date</th>
                          <th>Action</th>
                      </tr>
                      {% for order in paid_orders %}
                        {% if forloop.counter <= 5 %}
                          <tr>
                            <td>{{order.order_number}}</td>
                            <td>{{order.payment.payment_id}}</td>
                            <td>{{order.order_total}}</td>
                            <td>{{order.tax}}</td>
                            <td>{{order.phone_number}}</td>
                            <td>{{ order.created_at }}</td>
                            <td><a href="{% url 'invoice' %}?order_id={{order.order_number}}" class="dbtn">Invoice</a></td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                      
                  </table>
              </div>
              
          </div>
      </div>
    </div>
  </div>
{% endblock %}