{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="{% static 'assets/css/accounts/register.css' %}" >
{% endblock %}

{% block content %}
    
  <div class="ocontainer">
      <div class="rcontainer {% if request.path == '/accounts/register/' %} active{% endif %}">
        <div class="forms">
            <div class="form login">
                <span class="title">Forgot Password</span>

                <form action="{% url 'forgot_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="email" placeholder="Enter your email" name="email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>

                    <div class="checkbox-text">
                        <a href="{% url 'login' %}" class="text">I remember my password let me login</a>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Send me reset link">
                    </div>
                </form>
            </div>
        </div>
      </div>
  </div>

{% include 'includes/alerts.html' %}
{% endblock %}