.cart-page{
  margin:40px 18%;
}

.cart-page tr{
  border-bottom:1px solid pink;
}

table{
  width:100%;
  border-collapse: collapse;
}

.cart-info{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.cart-info .cart-data{
  display:flex;
  flex-wrap:wrap;
  /* justify-content:flex-start; */
}

.cart-info .cart-data .product-details {
  display:block;
  line-height:1;
}

.cart-info .cart-data .product-details .price {
  font-size:12px;
}

th{
  text-align: center;
  padding: 5px;
  color: #fff;
  background: var(--bittersweet);
  font-weight: normal;
}

td{
  padding: 10px 5px;
}

td input{
  width:40px;
  height:30px;
  padding:5px;
}

td a{
  color:white;
  font-size:12px;
}

td img{
  width: 80px;
  height:80px;
  margin-right: 10px;
}

.total-price{
  display:flex;
  justify-content: flex-end;
}

.total-price table{
  border-top:3px solid var(--bittersweet);
  width:100%;
  max-width: 300px;
}

td:last-child{
  text-align: right;
}

th:last-child{
  text-align: right;
}

th:first-child{
  text-align: left;
}


.cart-info .product-name{ 
  margin-right:10px;
  font-size:16px;
}

.cart-info .action-btn a{
  align-self: flex-start;
  background:var(--bittersweet);
  margin:3px;
  padding:5px 10px;
  border-radius:var(--border-radius-sm);
}

/* .action-btn a{
  display:flex;
  justify-content:center;
} */

.cart-info button{
  color:white;
}

.cart-info a:hover{
  background: var(--eerie-black);
}

.cart-info .cart-data a{
  text-decoration:none;
  color:inherit;
}

.cart-info .cart-data a:hover{
  background:inherit;
}

.cart-quantity{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .cart-quantity a,.cart-quantity button{
  background: var(--bittersweet);
  padding:2px 10px;
  border-radius: var(--border-radius-sm);
  color:white;
} */

.cart-quantity button{
  /* background: var(--bittersweet); */
  padding:2px 10px;
  border:2px solid var(--bittersweet);
  border-radius: var(--border-radius-sm);
  color:black;
}


.cart-quantity a:hover,.cart-quantity button:hover{ 
  background: #f2eaea;
}

.empty-msg {
  color:var(--eerie-black);
}

.empty-cart a{
  background:var(--bittersweet);
  display: inline-block;
  padding:5px 15px;
  border-radius: var(--border-radius-sm);
  margin-bottom:5px;
  color:white;
}

.product-variation { 
  font-size: 10px;
}


@media only screen and (max-width: 700px){
  .cart-info img{
    display:none !important;
  }

  .cart-page{
    margin:10px !important;
  }
}