{% load static %}
<header>

  <div class="header-main">

    <div class="container">

      <a href="{% url 'home' %}" class="header-logo">
        <img src="{% static "./assets/images/logo/logo.png" %}" alt="ShopZon's logo" width="120" height="56">
      </a>

      <div class="header-search-container">

        <form action="{% url 'search' %}" method="GET"> 
          <input type="search" name="search" class="search-field" placeholder="Enter your product name..." required>

          <button class="search-btn" id="search-btn" type="submit">
            <ion-icon name="search-outline"></ion-icon>
          </button>
        </form>

      </div>

      <div class="header-user-actions">
        {% if user.is_authenticated %}
          <button class="action-btn">
            <a href="{% url 'dashboard' %}">
              <ion-icon name="person-outline"></ion-icon>
              <span class="count">{{user.first_name | capfirst }}</span>
            </a>
          </button>

          <button class="action-btn">
            <a href="{% url 'logout' %}">
              <ion-icon name="log-out-outline"></ion-icon>
            </a>
          </button>
        {% else %}
          <button class="action-btn">
            <a href="{% url 'login' %}">
              <ion-icon name="log-in-outline"></ion-icon>
            </a>
          </button>
        {% endif %}

        <button class="action-btn">
          <a href="{% url 'show_wishlist' %}">
            <ion-icon name="heart-outline"></ion-icon>
            <span class="count">{{wishlist_count}}</span>
          </a>
        </button>

        <button class="action-btn">
          <a href="{% url 'cart' %}">
            <ion-icon name="bag-handle-outline"></ion-icon>
            <span class="count">{{cart_count}}</span>
          </a>
        </button>

      </div>

    </div>

  </div>

  {% if 'cart/' not in request.path and 'orders/' not in request.path %}
  <nav class="desktop-navigation-menu">

    <div class="container">

      <ul class="desktop-menu-category-list">

        <li class="menu-category">
          <a href="{% url 'home' %}" class="menu-title">Home</a>
        </li>

        <li class="menu-category">
          <a href="{% url 'search' %}" class="menu-title">Categories</a>

          <div class="dropdown-panel">
            {% for category in categories %}
              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="{% url 'products' category.slug %}">{{category.category_name}}</a>
                </li>

                {% for subcategory in category.subcategories %}
                  <li class="panel-list-item">
                    <a href="{% url 'products' subcategory.slug %}">{{subcategory.name}}</a>
                  </li>
                {% endfor %}

              </ul>
            {% endfor %}
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Men's</a>
          <ul class="dropdown-list">
          {% for category in categories %}
              
                {% for subcategory in category.subcategories %}
                  {% if subcategory.suited_for == 'male' %}
                    
                      <li class="dropdown-item">
                        <a href="{% url 'products' subcategory.slug %}">{{subcategory.name}}</a>
                      </li>
                    
                  {% endif %}
                {% endfor %}
          {% endfor %}
        </ul>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Women's</a>
          <ul class="dropdown-list">
          {% for category in categories %}
              
                {% for subcategory in category.subcategories %}
                  {% if subcategory.suited_for == 'female' %}
                    
                      <li class="dropdown-item">
                        <a href="{% url 'products' subcategory.slug %}">{{subcategory.name}}</a>
                      </li>
                    
                  {% endif %}
                {% endfor %}
          {% endfor %}
        </ul>
        </li>

        <li class="menu-category">
          {% for category in categories %}
            {% if category.category_name == 'Jewelry' %}
              <a href="{% url 'products' category.slug %}" class="menu-title">{{category.category_name}}</a>
              <ul class="dropdown-list">
                {% for subcategory in category.subcategories %}
                  <li class="dropdown-item">
                    <a href="{% url 'products' subcategory.slug %}">{{subcategory.name}}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </li>

        <li class="menu-category">
          {% for category in categories %}
            {% if category.category_name == 'Electronics' %}
              <a href="{% url 'products' category.slug %}" class="menu-title">{{category.category_name}}</a>
              <ul class="dropdown-list">
                {% for subcategory in category.subcategories %}
                  <li class="dropdown-item">
                    <a href="{% url 'products' subcategory.slug %}">{{subcategory.name}}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </li>


      </ul>

    </div>

  </nav>

  {% endif %}
  <div class="mobile-bottom-navigation">

    <button class="action-btn" data-mobile-menu-open-btn>
      <ion-icon name="menu-outline"></ion-icon>
    </button>

    <button class="action-btn">
      <a href="{% url 'cart' %}">
        <ion-icon name="bag-handle-outline"></ion-icon>
        <span class="count">{{cart_count}}</span>
      </a>
    </button>

    <button class="action-btn">
      <a href="{% url 'home' %}">
      <ion-icon name="home-outline"></ion-icon>
      </a>
    </button>

    <button class="action-btn">
      <a href="{% url 'show_wishlist' %}">
        <ion-icon name="heart-outline"></ion-icon>
        <span class="count">{{wishlist_count}}</span>
      </a>
    </button>

    <button class="action-btn" data-mobile-menu-open-btn>
      <ion-icon name="grid-outline"></ion-icon>
    </button>

  </div>

  <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

    <div class="menu-top">
      <h2 class="menu-title">Menu</h2>

      <button class="menu-close-btn" data-mobile-menu-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <ul class="mobile-menu-category-list">

      <li class="menu-category">
        <a href="#" class="menu-title">Home</a>
      </li>

      {% for category in categories %}
        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">{{category.category_name}}</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            {% for subcategory in category.subcategories %}
              <li class="submenu-category">
                <a href="#" class="submenu-title">{{subcategory.name}}</a>
              </li>
            {% endfor %}

          </ul>

        </li>
      {% endfor %}
      
      <li class="menu-category">
        <a href="#" class="menu-title">Hot Offers</a>
      </li>

    </ul>

  </nav>
</header>