{% load static %}
<div class="notification-toast" data-toast>

  <button class="toast-close-btn" data-toast-close>
    <ion-icon name="close-outline"></ion-icon>
  </button>

  <div class="toast-banner">
    <a href="{% url 'product_details' product.slug %}" id="not_img_href">
    <img id="not_img" src="{{ product.images.url }}" alt="Rose Gold Earrings" width="80" height="70">
    </a>
  </div>

  <div class="toast-detail">

    <p class="toast-message">
      Someone just bought
    </p>

    <a href="{% url 'product_details' product.slug %}" id="not_name_href">
      <p class="toast-title" id="not_name">
        {{product.name}}
      </p>
    </a>

    <p class="toast-meta" id="not_time">
      <time datetime="PT2M">2 Minutes</time> ago
    </p>

  </div>

</div>
