{% extends 'base.html' %}
{% load static %}
{% load store_filters %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'assets/css/cart.css' %}" >
{% endblock %}

{% block content %}

  {% if empty %}
    <div style="text-align:center;">
      <h2 class="empty-msg">Your Cart is Empty </h2>
      <a href="{% url 'home' %}"> go to home page </a>
    </div>
  {% else %}
    <div class="small-container cart-page">

      <table>
        <col style="width:60%">
        <col style="width:20%">
        <col style="width:20%">
        <tr>
          <th >Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>

        {% for cart_item in cart_items %}
          <tr>
            <td>
              <div class="cart-info">
                <div class="cart-data">
                  <a href="{% url 'product_details' cart_item.product.slug %}">
                  <img src="{{ cart_item.product.images.url }}" alt=""">
                  </a>
                  <div>
                    <a href="{% url 'product_details' cart_item.product.slug %}">
                      <p class="product-name">{{cart_item.product.name}}</p>
                    </a>
                    <small>Price: &#8377; {{cart_item.product.price}}</small>
                  </div>
                </div>
                <div class="action-btn">
                  <a href="{% url 'remove_cart' cart_item.product.id %}" class="a-btn"><button>Remove</button></a>
                  <a href="{% url 'wishlist' cart_item.product.id %}" class="a-btn"> Wishlist </a>
                </div>
              </div>
            </td>

            <td class="cart-quantity">
              
                {% if cart_item.quantity > 1 %}
                  <a href="{% url 'minus_cart' cart_item.product.id %}">- </a>
                {% endif %}
              <span>{{cart_item.quantity}}</span>
              <a href="{% url 'add_cart' cart_item.product.id %}">+</a>

            </td>
            <td>&#8377; {{cart_item.product.price | mul:cart_item.quantity }}</td>
          </tr>
        {% endfor %}
        
      </table>

      <div class="total-price">

        <table>
          <tr>
            <td>Subtotal</td>
            <td>&#8377; {{subtotal}}</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>&#8377; {{tax}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>&#8377; {{subtotal | add:tax }}</td>
          </tr>
        </table>
      </div>

    </div>
  {% endif %}
  
{% endblock %}