{% extends 'base.html'%}
{% load static %}
{% load store_filters %}

{% block content %}

  <div class="product-container" style="margin-top:10px;border-top:1px solid #f4ebeb">
    <div class="container">
      <!--
        - SIDEBAR
      -->

      <div class="sidebar  has-scrollbar" data-mobile-menu>

        <div class="sidebar-category">

          <div class="sidebar-top">
            <h2 class="sidebar-title">Category</h2>

            <button class="sidebar-close-btn" data-mobile-menu-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>
          </div>

          <ul class="sidebar-menu-category-list">

            {% for category in categories %}
            <li class="sidebar-menu-category">

              <button class="sidebar-accordion-menu" data-accordion-btn>

                <div class="menu-title-flex">
                  <img src="{{category.cat_image.url}}" alt="clothes" width="20" height="20"
                    class="menu-title-img">

                  <p class="menu-title">{{category.category_name}}</p>
                </div>

                <div>
                  <ion-icon name="add-outline" class="add-icon"></ion-icon>
                  <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>

              </button>

              <ul class="sidebar-submenu-category-list" data-accordion>

                {% for subcategory in category.subcategories %}
                  <li class="sidebar-submenu-category">
                    <a href="{% url 'products' subcategory.slug %}" class="sidebar-submenu-title">
                      <p class="product-name">{{subcategory.name}}</p>
                    </a>
                  </li>
                {% endfor %}

              </ul>

            </li>
            {% endfor %}

          </ul>

        </div>
      </div>



      <div class="product-box">

        <!--
          - PRODUCT GRID
        -->

        <div class="product-main">

          <h2 class="title">{{products_count}} Products</h2>

          <div class="product-grid">

            {% for product in products %}

              <div class="showcase">

                <div class="showcase-banner">

                  <img src="{{ product.images.url }}" alt="{{product.name}}" width="300" class="product-img default">
                  <a href="{% url 'product_details' product.slug %}">
                  <img src="{{ product.images.url }}" alt="{{product.name}}" width="300" class="product-img hover">
                  </a>

                  <p class="showcase-badge">15%</p>
                  {% if product.stock < 1 %}
                    <small class="showcase-content" style="color:red"> Out of stock </small>
                  {% endif %}
                  <div class="showcase-actions">
                    {% if product.stock >= 1 %}
                      <button class="btn-action">
                        <a href="{% url 'wishlist' product.id %}">
                        <ion-icon name="heart-outline"></ion-icon>
                        </a>
                      </button>
                      

                      <button class="btn-action">
                        <a href="{% url 'add_cart' product.id %}"><ion-icon name="bag-add-outline"></ion-icon></a>
                      </button>
                    {% endif %}
                  </div>

                </div>

                <div class="showcase-content">

                  <a href="{% url 'product_details' product.slug %}" class="showcase-category">{{product.sub_category.name}}</a>

                  <a href="{% url 'product_details' product.slug %}">
                    <h3 class="showcase-title">{{product.name}}</h3>
                  </a>

                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>

                  <div class="price-box">
                    <p class="price">&#8377; {{product.price | add:"-50"}}</p>
                    <del>&#8377; {{product.price}}</del>
                  </div>

                </div>

              </div>

            {% endfor %}
            
          </div>
          {% if products.has_other_pages %}
            <div class="pagination" >
              {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}"> Prev </a>
              {% endif %}
              {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                  <a href="?page={{ i }}" class="active"> {{i}} </a>
                {% else %}
                  <a href="?page={{ i }}"> {{i}} </a>
                {% endif %}
              {% endfor %}
              {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}"> Next </a>
              {% endif %}
            </div>
          {% endif %}
          
        </div>

      </div>

    </div>

  </div>
{% endblock %}