{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'assets/css/product_details.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}

  <div class = "main-wrapper">
    <div class = "container">
        <div class = "product-div">
            <div class = "product-div-left">
                <div class = "img-container">
                    <img src = "{{product.images.url}}" alt = "{{product.slug}}">
                </div>
                <div class = "hover-container">
                    <div><img src = "{{product.images.url}}"></div>
                    <div><img src = "{{product.images.url}}"></div>
                    <div><img src = "{{product.images.url}}"></div>
                    <div><img src = "{{product.images.url}}"></div>
                    <div><img src = "{{product.images.url}}"></div>
                </div>
            </div>
            <div class = "product-div-right">
                <span class = "product-name">{{product.name}}</span>
                <div class="price-box">
                  <p class="price">&#8377; {{product.price }}</p>
                  <del>&#8377; {{product.price | add:103 }}</del>
                </div>
                <div class = "product-rating">
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star-half-alt"></i></span>
                    <span>(350 ratings)</span>
                </div>
                <p class = "product-description">{{product.description}}</p>

                <form method="POST">
                  {% csrf_token %}
                  {% if product.variation_set.color %}
                    <div class="product-variation">
                      <select  name="color" class="select-variation">
                        <option value="">--Select Color--</option>
                      {% for variation in product.variation_set.color %}
                          <option value="{{variation.variation_value}}">{{variation.variation_value}}</option>
                      {% endfor %}
                      </select>
                    </div>
                  {% endif %}

                  {% if product.variation_set.size %}
                    <div class="product-variation">
                      <select  class="select-variation" name="size">
                        <option value="">--Select Size--</option>
                      {% for variation in product.variation_set.size %}
                          <option value="{{variation.variation_value}}">{{variation.variation_value}}</option>
                      {% endfor %}
                      </select>
                    </div>

                    {{product.id | json_script:'product_id'}}
                  {% endif %}

                  {% if in_stock %}
                    <div class = "btn-groups">
                      
                      <button type="submit" formaction="{% url 'add_cart' product.id %}" class="btn add-cart-btn"><i class = "fas fa-shopping-cart" id="cart-btn"></i> add to cart</button>

                      <button type="submit" href="#" style="color:white;" class = "buy-now-btn btn"><i class = "fas fa-wallet"></i> buy now </button>

                      {% if not in_wishlist %}
                        <button formaction="{% url 'wishlist' product.id %}" class="btn add-cart-btn"><i class = "fas fa-heart"></i> Wishlist</button>
                      {% else %}
                      <a href={% url 'remove_wishlist' product.id %} class="btn add-cart-btn done"><i class = "fas fa-fas fa-check-double"></i> Wishlisted</a>
                      {% endif %}
                    </div>
                  {% else %}
                    <div class = "btn-groups">
                      <h2 style="color:red;"> Out Of Stock </h2><br>
                      <button type="submit" class = "buy-now-btn btn" title="We will notify once item in stock"><i class = "fas fa-bell"></i> Notify</button>
                      {% if not in_wishlist %}
                        <button type="submit" formaction="{% url 'wishlist' product.id %}" class="btn add-cart-btn"><i class = "fas fa-heart"></i> Wishlist</button>
                      {% else %}
                        <a href={% url 'remove_wishlist' product.id %} class="btn add-cart-btn done"><i class = "fas fa-fas fa-check-double"></i> Wishlisted</a>
                      {% endif %}
                    </div>
                  {% endif %}
                </form>
            </div>
        </div>
    </div>
  </div>

{% endblock %}