.wishlist-page{
  margin:40px 18%;
}

.wishlist-page tr{
  border-bottom:1px solid pink;
}

table{
  width:100%;
  border-collapse: collapse;
}

.wishlist-info{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.wishlist-info .wishlist-data{
  display:flex;
  flex-wrap:wrap;
}

th{
  text-align: center;
  padding: 5px;
  color: #fff;
  background: var(--bittersweet);
  font-weight: normal;
}

td{
  padding: 10px 5px;
}

td input{
  width:40px;
  height:30px;
  padding:5px;
}

/* td a{
  color:white;
  font-size:12px;
} */

td img{
  width: 80px;
  height:80px;
  margin-right: 10px;
}

.total-price{
  display:flex;
  justify-content: flex-end;
}

.total-price table{
  border-top:3px solid var(--bittersweet);
  width:100%;
  max-width: 300px;
}

td:last-child{
  text-align: center;
}

td:last-child a{
  font-size: 12px;
  text-decoration: none;
  color:white;
  background:var(--bittersweet);
  margin:10px;
  padding:5px 10px;
  border-radius:var(--border-radius-sm);
}

th:last-child{
  text-align: center;
}

th:first-child{
  text-align: left;
}

.wishlist-info .product-name{ 
  margin-right:10px;
}


.empty-msg {
  color:var(--bittersweet);
}


@media only screen and (max-width: 700px){
  .wishlist-info img{
    display:none !important;
  }

  .wishlist-page{
    margin:10px !important;
  }

}