{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'assets/css/store/product_details.css' %}">

{% endblock %}

{% block content %}
  {% include 'includes/alerts.html' %}
  <div class = "main-wrapper">
    <div class = "container">
        <div class = "product-div">
            <div class = "product-div-left">
                <div class = "img-container">
                    <img src = "{{product.images.url}}" alt = "{{product.slug}}">
                </div>
                <div class = "hover-container">
                  <div><img src = "{{product.images.url}}"></div>
                  {% for gallery in product.productgallery_set.all %}
                    <div><img src = "{{gallery.image.url}}"></div>
                  {% endfor %}
                </div>
                
            </div>
            <div class = "product-div-right">
                <span class = "product-name">{{product.name}}</span>
                <div class="price-box">
                  <p class="price">&#8377; {{product.price }}</p>
                  <del>&#8377; {{product.price | add:103 }}</del>
                </div>
                <div class = "product-rating">
                  <span class="review-stars">
                    <i class="fa-star{% if avg_rating == 0.5 %}-half-alt fas{% elif avg_rating < 1 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                    <i class="fa-star{% if avg_rating == 1.5 %}-half-alt fas{% elif avg_rating < 2 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                    <i class="fa-star{% if avg_rating == 2.5 %}-half-alt fas{% elif avg_rating < 3 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                    <i class="fa-star{% if avg_rating == 3.5 %}-half-alt fas{% elif avg_rating < 4 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                    <i class="fa-star{% if avg_rating == 4.5 %}-half-alt fas{% elif avg_rating < 5 %} far {% else %} fas {% endif %}  " aria-hidden="true"></i>
                  </span>
                    <span>({{product.review_count}} ratings)</span> {{avg_rating}}
                </div>
                <p class = "product-description">{{product.description}}</p>

                <form method="POST">
                  {% csrf_token %}
                  {% if product.variation_set.color %}
                    <div class="product-variation">
                      <select id="select-color"  name="color" class="select-variation" required>
                        <option value="">--Select Color--</option>
                      {% for variation in product.variation_set.color %}
                          <option value="{{variation.variation_value}}">{{variation.variation_value}}</option>
                      {% endfor %}
                      </select>
                    </div>
                  {% endif %}

                  {% if product.variation_set.size %}
                    <div class="product-variation">
                      <select id="select-size" class="select-variation" name="size" required>
                        <option value="">--Select Size--</option>
                      {% for variation in product.variation_set.size %}
                          <option value="{{variation.variation_value}}">{{variation.variation_value}}</option>
                      {% endfor %}
                      </select>
                    </div>

                    {{product.id | json_script:'product_id'}}
                  {% endif %}

                  <input type="hidden" id="room_group_name" value="{{product.slug}}" />

                  {% if in_stock %}
                    <div class = "btn-groups">
                      
                      <button type="submit" id="addCart"  formaction="{% url 'add_cart' product.id %}" class="btn add-cart-btn"><i class = "fas fa-shopping-cart" id="cart-btn"></i> add to cart</button>

                      {% comment %} <button type="submit"  href="#" style="color:white;" class = "buy-now-btn btn"><i class = "fas fa-wallet"></i> buy now </button> {% endcomment %}

                      {% if not in_wishlist %}
                        <a href="{% url 'wishlist' product.id %}" class="btn add-cart-btn"><i class = "fas fa-heart"></i> Wishlist</a>
                      {% else %}
                        <a href={% url 'remove_wishlist' product.id %} class="btn add-cart-btn done"><i class = "fas fa-fas fa-check-double"></i> Wishlisted</a>
                      {% endif %}
                    </div>
                  {% else %}
                    <div class = "btn-groups">
                      <h2 style="color:red;"> Out Of Stock </h2><br>
                      {% if notify_me %}
                        <a href={% url 'notify_me' product.id %} class="btn add-cart-btn done"><i class="fas fa-bell-slash"></i> You will be notified </a>
                      {% else %}
                        <button type="submit" formaction="{% url 'notify_me' product.id %}" class = "buy-now-btn btn" title="We will notify once item in stock">
                          <i class = "fas fa-bell"></i> Notify Me
                        </button>
                      {% endif %}
                      {% if not in_wishlist %}
                        <button type="submit" formaction="{% url 'wishlist' product.id %}" class="btn add-cart-btn"><i class = "fas fa-heart"></i> Wishlist</button>
                      {% else %}
                        <a href={% url 'remove_wishlist' product.id %} class="btn add-cart-btn done"><i class = "fas fa-fas fa-check-double"></i> Wishlisted</a>
                      {% endif %}
                    </div>
                  {% endif %}
                </form>
            </div>
        </div>
        
        <div class="review-box">
          <form action="{% url 'submit_review' %}" method="POST">
            {% csrf_token %}
            <h2> Customer Reviews </h2>
            <h5>Write your Review</h5>
            <div>
              <!-- Rating Starts -->
              <label for="">How do your rate this product ?</label>
              <br/>
              <div class="rate">
                <input type="radio" name="rating" id="rating10" value="5" required />
                <label for="rating10" title="5"></label>
                <input type="radio" name="rating" id="rating9" value="4.5" required />
                <label for="rating9" title="4.5" class="half"></label>
                <input type="radio" name="rating" id="rating8" value="4" required />
                <label for="rating8" title="4"></label>
                <input type="radio" name="rating" id="rating7" value="3.5" required />
                <label for="rating7" title="3.5" class="half"></label>
                <input type="radio" name="rating" id="rating6" value="3" required />
                <label for="rating6" title="3"></label>
                <input type="radio" name="rating" id="rating5" value="2.5" required />
                <label for="rating5" title="2.5" class="half"></label>
                <input type="radio" name="rating" id="rating4" value="2" required />
                <label for="rating4" title="2"></label>
                <input type="radio" name="rating" id="rating3" value="1.5" required />
                <label for="rating3" title="1.5" class="half"></label>
                <input type="radio" name="rating" id="rating2" value="1" required />
                <label for="rating2" title="1"></label>
                <input type="radio" name="rating" id="rating1" value="0.5" required />
                <label for="rating1" title="0.5" class="half"></label>
              </div>
              <br>
              Review Title:
              <input type="text" name="subject" id="" class="form-control" />
              <br>
              Review:
              <textarea
                name="review"
                id=""
                cols="30"
                rows="4"
                class="form-control"
              ></textarea>
              <br />
              <input type="hidden" name="product_id" value="{{product.id}}" />
              {% if request.user.is_authenticated %}
                {% if purchased %}
                  <input type="submit" value="submit review" class="submit-review-btn" />
                {% else %}
                  <h4> You must purchase this product before writing a review </h4>
                {% endif %}
              {% else %}
                <h4> You must login to write a review </h4>
              {% endif %}
            </div>
            
          </form>
        </div>

        {% for message in messages %}
          {{ message.tags}} : {{ message.message}}
        {% endfor %}

        <div class="user-reviews-box"> 
          {% for review in reviews %}
            <div class="user-review">
              <div class="header">
                <div class="review-text">
                  <img src="{{review.profile.profile_picture.url }}" alt="">
                  <h6> {{review.user.first_name | capfirst}} {{review.user.last_name | capfirst}}</h6>
                  <span class="review-stars">
                      <i class="fa-star{% if review.rating == 0.5 %}-half-alt fas{% elif review.rating < 1 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if review.rating == 1.5 %}-half-alt fas{% elif review.rating < 2 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if review.rating == 2.5 %}-half-alt fas{% elif review.rating < 3 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if review.rating == 3.5 %}-half-alt fas{% elif review.rating < 4 %} far {% else %} fas {% endif %} " aria-hidden="true"></i>
                      <i class="fa-star{% if review.rating == 4.5 %}-half-alt fas{% elif review.rating < 5 %} far {% else %} fas {% endif %}  " aria-hidden="true"></i>
                  </span> &nbsp;{{ review.rating}} 
                </div>
                <span> {{review.updated_at}} </span>
              </div>
              <div>
                <h4> {{review.subject}}</h4>
                <p> {{review.review}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
  
{% endblock %}