@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --sonic-silver: hsl(0, 0%, 47%);
    --davys-gray: hsl(0, 0%, 33%);
    --fs-7: 0.875rem;
    --weight-600: 600;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
    display: block;
}
.main-wrapper{
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    padding: 20px;
}
.img-container img{
    width: 400px;
    margin: 0 auto;
}
.hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.hover-container div{
    border: 2px solid rgba(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(255, 145, 163)!important;
}
.hover-container div:hover{
    border-color: rgb(255, 145, 163);
}
.hover-container div img{
    width: 50px;
    cursor: pointer;
}
.product-div-right span{
    display: block;
}
.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}

.product-div-right .price-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-div-right .price-box del {
    color: var(--bittersweet);
    font-size: 13px;
}

.product-div-right .price-box .price {
    font-size: var(--fs-7);
    font-weight: 600;
    color: var(--davys-gray);
}


.product-rating{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.product-rating span{
    margin-right: 6px;
}
.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.btn-groups{
    margin-top: 22px;
}
.btn-groups .btn{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin:3px;
}

.add-cart-btn, .buy-now-btn{
    background-color: var(--bittersweet);
    border-radius: var(--border-radius-sm);
}
.add-cart-btn:hover, .buy-now-btn:hover{
    background-color: #f94848;
}

.btn-groups .done {
    background-color: #25ce28;
    border-radius: var(--border-radius-sm);
}
.btn-groups .done:hover{
    background-color: green;
}

.product-variation { 
    margin:10px;
    display: inline-block;
}

.product-variation select { 
    /* background:var(--salmon-pink); */
    border-radius: 5px;
    padding:5px;
    /* color:white; */
}

.product-variation select option {
    position:relative;
    left:10px;
}


/********* Rating System *************/

.user-reviews-box{ 
  margin:10px 0;
  background:white;
  height:auto;
  padding:10px;
}


.user-reviews-box .header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.user-review{
  /* border:1px solid var(--bittersweet); */
  border-radius:15px;
  padding:5px 15px;
  width:50%;
  box-shadow: 1px 1px 5px 2px rgb(76, 196, 72);
  margin-bottom:20px;
}

.user-reviews-box .header .review-text { 
  display:flex;
  align-items: center;
}

.review-stars {
  color:var(--bittersweet);
}

.user-reviews-box .header .review-text h6{ 
  margin-right:15px;
}

.user-reviews-box  h4{
  margin-bottom: 10px;
}

.user-reviews-box .header img {
  height:50px;
  width:50px;
  border-radius: 50px;
  margin:5px;
}

.review-box{
  background:white;
  padding: 10px;
  border-radius: 5px;
}

.review-box h2{
  margin-bottom: 30px;
}

.review-box h5{
  margin:10px 0;
}

.rate label { 
  color:var(--spanish-gray);
}

.rate > input {
  display:none;
}

.rate {
  display:inline-block;
}

.rate > label{
  float:right;
}

.form-control {
  display:block;
  width:50%;
  border-radius: 5px;
  padding:5px;
}

.submit-review-btn{
  padding:5px 10px;
  background:var(--bittersweet);
  width:auto;
  border:none;
  border-radius: 5px;
  color:white;
  cursor:pointer;
  opacity: 0.9;
}

.submit-review-btn:hover{ 
  opacity: 1;
}

/* showing stars */
.rate > label:before{
  display:inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin:0;
  padding: 0.3rem .2rem;
  cursor:pointer;
}


/* Half stars */
.rate .half:before{
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

/* click and hover the stars */
input:checked ~ label, label:hover ~ label{
  color:#ffb503;
}

input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
  color:#cc9000;
}


@media screen and (max-width: 992px){
    .product-div{
        grid-template-columns: 100%;
        text-align: center;
    }
    .product-div-right{
        text-align: center;
        margin:auto;
    }
    .product-rating{
        justify-content: center;
    }
    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    .img-container img{
        width:300px;
        margin:auto;
    }
}

@media screen and (max-width: 400px){

    .btn-groups .btn{
        width: 70%;
        /* display:flex;
        align-items: center; */
        /* margin-bottom: 10px; */
    }

    .btn-groups .fas{
        margin:3px;
        padding:5px auto;
    }
}